<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

	<!-- start: Meta -->
	<meta charset="utf-8">
	<title></title>
	<meta name="description" content="Bootstrap Metro Dashboard">
	<meta name="author" content="">
	<meta name="keyword" content="">
	<!-- end: Meta -->

	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->

	<!-- start: CSS -->
	<link id="bootstrap-style" href="/manage/css/bootstrap.min.css" rel="stylesheet">
	<link href="/manage/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="/manage/css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="/manage/css/style-responsive.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
	<!-- end: CSS -->


	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<link id="ie-style" href="/manage/css/ie.css" rel="stylesheet">
	<![endif]-->

	<!--[if IE 9]>
	<link id="ie9style" href="/manage/css/ie9.css" rel="stylesheet">
	<![endif]-->

	<!-- start: Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- end: Favicon -->




</head>

<body>
<!-- start: Header  顶端下拉框-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="index.html"><span>QXBLOG</span></a>

			<!-- start: 顶部菜单 -->
			<div class="nav-no-collapse header-nav">
				<ul class="nav pull-right">
					<li><a href="#" th:href="@{/}"><img src="/images/icon/back1.png" class="miniIcon">返回博客系统</a></li>
					<li><a href="#" th:href="@{/admin/userChange/{id}/toUpdate(id=${session.user.id})}"><img src="../images/icon/role1.png" class="miniIcon">个人信息</a></li>
				</ul>
			</div>
			<!-- end: Header Menu -->

		</div>
	</div>
</div>
<!-- start: Header -->

<div class="container-fluid-full">
	<div class="row-fluid">

		<!-- start:左菜单栏 -->
		<div id="sidebar-left" class="span2">
			<div class="nav-collapse sidebar-nav">
				<ul class="nav nav-tabs nav-stacked main-menu">
					<li><a href="#" th:href="@{/admin/manage}"><img src="/images/icon/Windex.png" class="miniIcon"><span class="hidden-tablet"> 主页</span></a></li>
					<li><a href="#" th:href="@{/admin/messages}"><img src="/images/icon/Wnew.png" class="miniIcon"><span class="hidden-tablet"> 最新消息</span></a></li>
					<li><a href="#" th:href="@{/admin/blogList}"><img src="/images/icon/Wblog.png" class="miniIcon"><span class="hidden-tablet"> 博客管理 </span></a></li>
					<li><a href="#" th:href="@{/admin/blogAdd}"><img src="/images/icon/WaddBlog.png" class="miniIcon"><span class="hidden-tablet"> 博客添加 </span></a></li>
					<li><a href="#" th:href="@{/admin/gallery}"><img src="/images/icon/Wpictrue.png" class="miniIcon"><span class="hidden-tablet"> 图廊 </span></a></li>
					<li><a href="#" th:href="@{/admin/userList}"><img src="/images/icon/WuserManage.png" class="miniIcon"><span class="hidden-tablet"> 用户管理 </span></a></li>
					<li><a href="#" th:href="@{/admin/userAdd}"><img src="/images/icon/WaddUser.png" class="miniIcon"><span class="hidden-tablet"> 添加用户 </span></a></li>
					<li><a href="#" th:href="@{/admin/userChange/{id}/toUpdate(id=${session.user.id})}"><img src="/images/icon/Wedit.png" class="miniIcon"><span class="hidden-tablet"> 信息编辑</span></a></li>
					<li><a href="#" th:href="@{/admin/logout}"><img src="/images/icon/Wlogout.png" class="miniIcon"><span class="hidden-tablet"> 注销 </span></a></li>
				</ul>
			</div>
		</div>
		<!-- end: Main Menu -->

		<noscript>
			<div class="alert alert-block span10">
				<h4 class="alert-heading">Warning!</h4>
				<p>You need to have <a href="" target="_blank">JavaScript</a> enabled to use this site.</p>
			</div>
		</noscript>

		<!-- start: Content -->
		<div id="content" class="span10">

			<ul class="breadcrumb">
				<li>
					<img src="/images/icon/manage.png" class="miniIcon">
					<a href="index.html" th:href="@{/admin/manage}">后台管理</a>
					<img src="/images/icon/right.png" class="miniIcon">
				</li>
				<li>
					<img src="/images/icon/Wblog.png" class="miniIcon">
					<a href="#" th:href="@{/admin/blogList}">博客信息管理</a>
					<img src="/images/icon/right.png" class="miniIcon">
				</li>
				<li>
					<img src="/images/icon/WaddBlog.png" class="miniIcon">
					<a href="#">添加博客信息</a>

				</li>
			</ul>
			<!--标签和分类同一行展示-->
			<div class="row-fluid sortable">
				<!--添加分类信息-->
				<div class="box span6">
					<div class="box-header">
						<h2><i class="halflings-icon white edit"></i><span class="break"></span>添加分类信息</h2>
						<div class="box-icon">
							<a href="#" class="btn-minimize">一</a>
							<a href="#" class="btn-close">X</a>
						</div>
					</div>
					<div class="box-content">
						<form class="form-horizontal" action="#" th:object="${addType}" th:action="@{/admin/type/save}" method="post">
							<fieldset>
								<input type="hidden" name="id" th:value="*{id}">
								<!--分类（可修改）-->
								<div class="control-group">
									<label class="control-label">分类名称</label>
									<div class="controls">
										<input class="input-xlarge focused" name="name" type="text" value="请输入…" th:value="*{name}">
									</div>
								</div>
								<div class="form-actions">
									<button type="submit" class="btn btn-primary">保存</button>
									<button class="btn" onclick="history.back(-1)">返回</button>
								</div>
							</fieldset>
						</form>
					</div>
				</div><!--/span-->
				<!--添加标签信息-->
				<div class="box span6">
					<div class="box-header">
						<h2><i class="halflings-icon white edit"></i><span class="break"></span>添加标签信息</h2>
						<div class="box-icon">
							<a href="#" class="btn-minimize">一</a>
							<a href="#" class="btn-close">X</a>
						</div>
					</div>
					<div class="box-content">
						<form class="form-horizontal" action="#" th:object="${addTag}" th:action="@{/admin/tag/save}" method="post">
							<fieldset>
								<input type="hidden" name="id" th:value="*{id}">
								<!--用户名（可修改）-->
								<div class="control-group">
									<label class="control-label">标签名称</label>
									<div class="controls">
										<input class="input-xlarge focused" name="name" type="text" value="请输入…" th:value="*{name}">
									</div>
								</div>
								<div class="form-actions">
									<button type="submit" class="btn btn-primary">保存</button>
									<button class="btn" onclick="history.back(-1)">返回</button>
								</div>
							</fieldset>
						</form>
					</div>
				</div><!--/span-->
			</div><!--/row-->

			<!--添加博客信息（另一行展示）-->
			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="halflings-icon white edit"></i><span class="break"></span>添加博客信息</h2>
						<div class="box-icon">
							<a href="#" class="btn-minimize">一</a>
							<a href="#" class="btn-close">X</a>
						</div>
					</div>
					<div class="box-content">
						<form class="form-horizontal" action="#" th:object="${addBlog}" th:action="@{/admin/blog/save}" method="post">
							<fieldset>
								<input type="hidden" name="id" th:value="*{id}">
<!--								<input type="hidden" name="createTime" th:value="*{createTime}">-->
								<!--标题-->
								<div class="control-group">
									<label class="control-label">标题</label>
									<div class="controls">
										<input class="input-xlarge focused" name="title" type="text" value="请输入…" th:value="*{title}">
									</div>
								</div>
								<!--分类-->
								<div class="control-group">
									<label class="control-label">分类</label>
									<div class="controls">
										<select data-rel="chosen" name="type.id" th:value="*{type}!=null ? *{type.id}">
											<option th:each="type : ${types}" th:value="${type.id}" data-value="1" th:text="${type.name}">Option</option>
										</select>
									</div>
								</div>
								<!--标签-->
								<div class="control-group">
									<label class="control-label">标签</label>
									<div class="controls">
										<select  multiple data-rel="chosen" name="tagIds" th:value="*{tagIds}">
											<option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.name}">Option 1</option>
										</select>
									</div>
								</div>
								<!--首图-->
								<div class="control-group">
									<label class="control-label">首图地址</label>
									<div class="controls">
										<input class="input-xlarge focused" name="firstImg" type="text" value="请输入…" th:value="*{firstImg}">
									</div>
								</div>
								<!--内容-->
								<div class="control-group hidden-phone">
									<label class="control-label" >博客内容</label>
									<div class="controls">
										<textarea class="cleditor"  name="content" rows="3" th:utext="*{content}"></textarea>
									</div>
								</div>

								<!--能否评论和推荐-->
								<div class="control-group">
									<label class="control-label">转载推荐声明</label>
									<div class="controls">

										<label class="checkbox inline">
											<input type="checkbox" id="inlineCheckbox1" value="commentabled" th:value="*{commentabled}"> 转载
										</label>
										<label class="checkbox inline">
											<input type="checkbox" value="recommend" th:value="*{recommend}"> 推荐
										</label>

									</div>
								</div>
								<div class="form-actions">
									<button type="submit" class="btn btn-primary">保存</button>
									<button class="btn">返回</button>
								</div>
							</fieldset>
						</form>

					</div>
				</div><!--/span-->

			</div><!--/row-->
			<!--添加博客结束-->

		</div><!--/.fluid-container-->




		<!-- end: Content -->
	</div><!--/#content.span10-->
</div><!--/fluid-row-->

<div class="modal hide fade" id="myModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Settings</h3>
	</div>
	<div class="modal-body">
		<p>Here settings can be configured...</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
		<a href="#" class="btn btn-primary">Save changes</a>
	</div>
</div>

<div class="clearfix"></div>

<footer>

	<p>
		<span style="text-align:left;float:left">Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://www.freemoban.com/">www.freemoban.com</a></span>

	</p>

</footer>

<!-- start: JavaScript-->

<script src="/manage/js/jquery-1.9.1.min.js"></script>
<script src="/manage/js/jquery-migrate-1.0.0.min.js"></script>

<script src="/manage/js/jquery-ui-1.10.0.custom.min.js"></script>

<script src="/manage/js/jquery.ui.touch-punch.js"></script>

<script src="/manage/js/modernizr.js"></script>

<script src="/manage/js/bootstrap.min.js"></script>

<script src="/manage/js/jquery.cookie.js"></script>

<script src='/manage/js/fullcalendar.min.js'></script>

<script src='/manage/js/jquery.dataTables.min.js'></script>

<script src="/manage/js/excanvas.js"></script>
<script src="/manage/js/jquery.flot.js"></script>
<script src="/manage/js/jquery.flot.pie.js"></script>
<script src="/manage/js/jquery.flot.stack.js"></script>
<script src="/manage/js/jquery.flot.resize.min.js"></script>

<script src="/manage/js/jquery.chosen.min.js"></script>

<script src="/manage/js/jquery.uniform.min.js"></script>

<script src="/manage/js/jquery.cleditor.min.js"></script>

<script src="/manage/js/jquery.noty.js"></script>

<script src="/manage/js/jquery.elfinder.min.js"></script>

<script src="/manage/js/jquery.raty.min.js"></script>

<script src="/manage/js/jquery.iphone.toggle.js"></script>

<script src="/manage/js/jquery.uploadify-3.1.min.js"></script>

<script src="/manage/js/jquery.gritter.min.js"></script>

<script src="/manage/js/jquery.imagesloaded.js"></script>

<script src="/manage/js/jquery.masonry.min.js"></script>

<script src="/manage/js/jquery.knob.modified.js"></script>

<script src="/manage/js/jquery.sparkline.min.js"></script>

<script src="/manage/js/counter.js"></script>

<script src="/manage/js/retina.js"></script>

<script src="/manage/js/custom.js"></script>
<!-- end: JavaScript-->

</body>
</html>
