<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>Home</title>
	<meta name="description" content="Bootstrap Metro Dashboard">
	<meta name="author" content="">
	<meta name="keyword" content="">
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->

	<!-- start: CSS -->
	<link id="bootstrap-style" href="/manage/css/bootstrap.min.css" rel="stylesheet">
	<link href="/manage/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="/manage/css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="/manage/css/style-responsive.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
	<!-- end: CSS -->
	

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<link id="ie-style" href="/manage/css/ie.css" rel="stylesheet">
	<![endif]-->

	<!--[if IE 9]>
	<link id="ie9style" href="/manage/css/ie9.css" rel="stylesheet">
	<![endif]-->
		
	<!-- start: Favicon -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<!-- end: Favicon -->
	
		
		
		
</head>

<body>
		<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="index.html"><span>QXBLOG</span></a>


				<!-- start: 顶部菜单 -->
				<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">
						<li><a href="#" th:href="@{/}"><img src="/images/icon/back1.png" class="miniIcon">返回博客系统</a></li>
						<li><a href="#" th:href="@{/admin/userChange/{id}/toUpdate(id=${session.user.id})}"><img src="../images/icon/role1.png" class="miniIcon">个人信息</a></li>

					</ul>
				</div>
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	<!-- start: Header -->
	
		<div class="container-fluid-full">
		<div class="row-fluid">

			<!-- start:左菜单栏 -->
			<div id="sidebar-left" class="span2">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="#" th:href="@{/admin/manage}"><img src="/images/icon/Windex.png" class="miniIcon"><span class="hidden-tablet"> 主页</span></a></li>
						<li><a href="#" th:href="@{/admin/messages}"><img src="/images/icon/Wnew.png" class="miniIcon"><span class="hidden-tablet"> 最新消息</span></a></li>
						<li><a href="#" th:href="@{/admin/blogList}"><img src="/images/icon/Wblog.png" class="miniIcon"><span class="hidden-tablet"> 博客管理 </span></a></li>
						<li><a href="#" th:href="@{/admin/blogAdd}"><img src="/images/icon/WaddBlog.png" class="miniIcon"><span class="hidden-tablet"> 博客添加 </span></a></li>
						<li><a href="#" th:href="@{/admin/gallery}"><img src="/images/icon/Wpictrue.png" class="miniIcon"><span class="hidden-tablet"> 图廊 </span></a></li>
						<li><a href="#" th:href="@{/admin/userList}"><img src="/images/icon/WuserManage.png" class="miniIcon"><span class="hidden-tablet"> 用户管理 </span></a></li>
						<li><a href="#" th:href="@{/admin/userAdd}"><img src="/images/icon/WaddUser.png" class="miniIcon"><span class="hidden-tablet"> 添加用户 </span></a></li>
						<li><a href="#" th:href="@{/admin/userChange/{id}/toUpdate(id=${session.user.id})}"><img src="/images/icon/Wedit.png" class="miniIcon"><span class="hidden-tablet"> 信息编辑</span></a></li>
						<li><a href="#" th:href="@{/admin/logout}"><img src="/images/icon/Wlogout.png" class="miniIcon"><span class="hidden-tablet"> 注销 </span></a></li>
					</ul>
				</div>
			</div>
			<!-- end: Main Menu -->
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->
			<div id="content" class="span10">
			
			
			<ul class="breadcrumb">
				<li>
					<img src="/images/icon/manage.png" class="miniIcon">
					<a href="#" th:href="@{/admin/manage}">后台管理</a>
					<img src="/images/icon/right.png" class="miniIcon">
				</li>
				<li>
					<img src="/images/icon/Windex.png" class="miniIcon">
					<a href="#" th:href="@{/admin/manage}">主页</a></li>
			</ul>

			<div class="row-fluid">
				
				<div class="span3 statbox purple" onTablet="span6" onDesktop="span3">
					<div class="boxchart" >Blog</div>
					<div class="title"> 博客 </div>
					<div class="number" th:text="${totalBlog}">854<i class="icon-arrow-up"></i></div>
					<div class="footer">
						<a href="#" th:href="@{/admin/blogList}"> 查看详情 </a>
					</div>	
				</div>
				<div class="span3 statbox green" onTablet="span6" onDesktop="span3">
					<div class="boxchart">User</div>
					<div class="number" th:text="${totalUser}">123<i class="icon-arrow-up"></i></div>
					<div class="title">用户</div>
					<div class="footer">
						<a href="#" th:href="@{/admin/userList}"> 查看详情 </a>
					</div>
				</div>
				<div class="span3 statbox blue noMargin" onTablet="span6" onDesktop="span3">
					<div class="boxchart">Comment</div>
					<div class="number" th:text="${totalComment}">982</div>
					<div class="title"> 评论 </div>
					<div class="footer">
						<a href="#" th:href="@{/admin/commentList}"> 查看详情 </a>
					</div>
				</div>

				<!--待完成-->
				<div class="span3 statbox yellow" onTablet="span6" onDesktop="span3">
					<div class="boxchart">Praise</div>
					<div class="number">256</div>
					<div class="title"> 点赞 </div>
					<div class="footer">
						<a href="#"> 查看详情 </a>
					</div>
				</div>	
				
			</div>		

			<div class="row-fluid">
				
				<div class="span8 widget blue" onTablet="span7" onDesktop="span8">
					
					<div id="stats-chart2"  style="height:282px" >
						<div style="float: left;margin: 50px 0 0 30px;">
							<div>Hi!</div>
							<div th:text="${user.nickname}">滕珊</div>
							<div>欢迎来到QX博客后台管理界面</div>
							<br>
							<br>
							<div>记录  分享  启航  行动</div>
						</div>
						<div>
							<img src="" th:src="@{${user.image}}" alt="" style="float: right;margin: 50px 50px 0 0;width: 150px;height: 150px">
						</div>
					</div>
					
				</div>
				
				<div class="sparkLineStats span4 widget green" onTablet="span5" onDesktop="span4">

                    <ul class="unstyled">
						<!--待完成-->
                        <li><span class="sparkLineStats3"></span> 
                            今日新增用户数：
                            <span class="number" th:text="${todayUserCount}">99</span>
                        </li>
                        <li><span class="sparkLineStats4"></span>
                            今日新增博客数:
                            <span class="number" th:text="${todayBlogCount}">99</span>
                        </li>
                        <li><span class="sparkLineStats5"></span>
                            今日新增评论数：
                            <span class="number" th:text="${todayCommentCount}">99</span>
                        </li>
                        <li><span class="sparkLineStats6"></span>
							本周新增用户:
							<span class="number" th:text="${weekUserCount}">99</span>
                        </li>
                        <li><span class="sparkLineStats7"></span>
							本周新增博客:
                            <span class="number" th:text="${weekBlogCount}">99</span>
                        </li>
                        <li><span class="sparkLineStats8"></span>
							本周新增评论:
                            <span class="number" th:text="${weekCommentCount}">99</span>
                        </li>

                    </ul>
					
					<div class="clearfix"></div>

                </div><!-- End .sparkStats -->

			</div>
			
				<!--/row-->
			
       

	</div><!--/.fluid-container-->
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
		
	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Settings</h3>
		</div>
		<div class="modal-body">
			<p>Here settings can be configured...</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<a href="#" class="btn btn-primary">Save changes</a>
		</div>
	</div>
	
	<div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<ul class="list-inline item-details">
				<li><a href="http://www.freemoban.com">Admin templates</a></li>
				<li><a href="http://www.freemoban.com">Bootstrap themes</a></li>
			</ul>
		</div>
	</div>
	
	<div class="clearfix"></div>
	
	<footer>

		<p>
			<span style="text-align:left;float:left">Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://www.freemoban.com/">www.freemoban.com</a></span>
			
		</p>

	</footer>
	
	<!-- start: JavaScript-->

		<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/modernizr.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		<script src="js/jquery.cookie.js"></script>
	
		<script src='js/fullcalendar.min.js'></script>
	
		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.js"></script>
	<script src="js/jquery.flot.pie.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	
		<script src="js/jquery.chosen.min.js"></script>
	
		<script src="js/jquery.uniform.min.js"></script>
		
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="js/jquery.gritter.min.js"></script>
	
		<script src="js/jquery.imagesloaded.js"></script>
	
		<script src="js/jquery.masonry.min.js"></script>
	
		<script src="js/jquery.knob.modified.js"></script>
	
		<script src="js/jquery.sparkline.min.js"></script>
	
		<script src="js/counter.js"></script>
	
		<script src="js/retina.js"></script>

		<script src="js/custom.js"></script>

	<!-- end: JavaScript-->
	
</body>
</html>
