<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8">
	<title></title>
	<meta name="description" content="Bootstrap Metro Dashboard">
	<meta name="author" content="">
	<meta name="keyword" content="">
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->

	<!-- start: CSS -->
	<link id="bootstrap-style" href="/manage/css/bootstrap.min.css" rel="stylesheet">
	<link href="/manage/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="/manage/css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="/manage/css/style-responsive.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
	<!-- end: CSS -->


	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<link id="ie-style" href="/manage/css/ie.css" rel="stylesheet">
	<![endif]-->

	<!--[if IE 9]>
	<link id="ie9style" href="/manage/css/ie9.css" rel="stylesheet">
	<![endif]-->
		
	<!-- start: Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- end: Favicon -->
	
		
		
		
</head>

<body>
	<!-- start: Header  顶端下拉框-->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="index.html"><span>QXBLOG</span></a>

				<!-- start: 顶部菜单 -->
				<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">
						<li><a href="#" th:href="@{/}"><img src="/images/icon/back1.png" class="miniIcon">返回博客系统</a></li>
						<li><a href="#" th:href="@{/admin/userChange/{id}/toUpdate(id=${session.user.id})}"><img src="/images/icon/role1.png" class="miniIcon">个人信息</a></li>

					</ul>
				</div>
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	<!-- start: Header -->
	
		<div class="container-fluid-full">
		<div class="row-fluid">

			<!-- start:左菜单栏 -->
			<div id="sidebar-left" class="span2">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="#" th:href="@{/admin/manage}"><img src="/images/icon/Windex.png" class="miniIcon"><span class="hidden-tablet"> 主页</span></a></li>
						<li><a href="#" th:href="@{/admin/messages}"><img src="/images/icon/Wnew.png" class="miniIcon"><span class="hidden-tablet"> 最新消息</span></a></li>
						<li><a href="#" th:href="@{/admin/blogList}"><img src="/images/icon/Wblog.png" class="miniIcon"><span class="hidden-tablet"> 博客管理 </span></a></li>
						<li><a href="#" th:href="@{/admin/blogAdd}"><img src="/images/icon/WaddBlog.png" class="miniIcon"><span class="hidden-tablet"> 博客添加 </span></a></li>
						<li><a href="#" th:href="@{/admin/gallery}"><img src="/images/icon/Wpictrue.png" class="miniIcon"><span class="hidden-tablet"> 图廊 </span></a></li>
						<li><a href="#" th:href="@{/admin/userList}"><img src="/images/icon/WuserManage.png" class="miniIcon"><span class="hidden-tablet"> 用户管理 </span></a></li>
						<li><a href="#" th:href="@{/admin/userAdd}"><img src="/images/icon/WaddUser.png" class="miniIcon"><span class="hidden-tablet"> 添加用户 </span></a></li>
						<li><a href="#" th:href="@{/admin/userChange/{id}/toUpdate(id=${session.user.id})}"><img src="/images/icon/Wedit.png" class="miniIcon"><span class="hidden-tablet"> 信息编辑</span></a></li>
						<li><a href="#" th:href="@{/admin/logout}"><img src="/images/icon/Wlogout.png" class="miniIcon"><span class="hidden-tablet"> 注销 </span></a></li>
					</ul>
				</div>
			</div>
			<!-- end: Main Menu -->
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->
			<div id="content" class="span10">
			
			
			<ul class="breadcrumb">
				<li>
					<img src="/images/icon/manage.png" class="miniIcon">
					<a href="index.html" th:href="@{/admin/manage}">后台管理</a>
					<img src="/images/icon/right.png" class="miniIcon">
				</li>
				<li>
					<img src="/images/icon/Wblog.png" class="miniIcon">
					<a href="#" th:href="@{/admin/blogList}">博客信息管理</a>
					<img src="/images/icon/right.png" class="miniIcon">
				</li>
				<li>
					<img src="/images/icon/Wedit.png" class="miniIcon">
					<a href="#">修改用户信息</a>
				</li>
			</ul>

			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="halflings-icon white edit"></i><span class="break"></span>用户信息修改</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<form class="form-horizontal" action="#" th:object="${updateUser}" th:action="@{/admin/user/save}" method="post">
							<fieldset>
								<!--id（默认）-->
								<input type="hidden" name="id" th:value="*{id}">
								<div style="float: left">
								<!--用户名（可修改）-->
							    <div class="control-group">
								 	<label class="control-label">用户名</label>
									<div class="controls">
								  		<input class="input-xlarge focused" name="username" type="text" value="请输入用户名…" th:value="*{username}">
									</div>

							  	</div>
								<!--昵称（可修改）-->
								<div class="control-group">
									<label class="control-label" >昵称</label>
									<div class="controls">
										<input class="input-xlarge focused" name="nickname" type="text" value="请输入昵称…" th:value="*{nickname}">
									</div>
								</div>
								<!--密码（可修改）-->
								<div class="control-group">
									<label class="control-label">密码</label>
									<div class="controls">
										<input class="input-xlarge focused" name="password" type="text" value="请输入密码…" th:value="*{password}">
									</div>
								</div>
								<!--头像（可修改）-->
								<div class="control-group">
									<label class="control-label">头像地址</label>
									<div class="controls">
										<input class="input-xlarge focused" name="image" type="text" value="请输入头像地址…" th:value="*{image}">
									</div>
								</div>
								<!--管理员（可修改）-->
								<div class="control-group">
									<label class="control-label">管理员</label>
									<div class="controls">

										<select name="admin" data-rel="chosen">
<!--											<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:selected="*{stType} == ${dict.dictValue} ? true :false"></option>-->
											<option  value="true">true</option>
											<option  value="false">false</option>
										</select>
									</div>
								</div>
								<!--电话（可修改）-->
								<div class="control-group">
									<label class="control-label">联系电话</label>
									<div class="controls">
										<input class="input-xlarge focused" name="phone" type="text" value="请输入联系电话…" th:value="*{phone}">
									</div>
								</div>

								<!--创建时间（不可修改）-->
							    <div class="control-group">
								 	<label class="control-label">创建时间</label>
									<div class="controls">
								  		<input class="input-xlarge disabled" name="createTime" type="text" th:placeholder="*{createTime}" disabled="">
									</div>
							  	</div>
								<!--上次修改时间（不可修改）-->
								<div class="control-group">
									<label class="control-label">上次修改时间</label>
									<div class="controls">
										<input class="input-xlarge disabled" name="updateTime" type="text" th:placeholder="*{updateTime}"  disabled="">
									</div>
								</div>
								</div>
								<div style="float: left;margin: 20px 0 0 20px" >
									<img th:src="*{image}" style="height: 80px;width: 80px" alt="">
								</div>

							  <div class="form-actions" style="clear: both">
								<button type="submit" class="btn btn-primary">保存</button>
								<button class="btn" onclick="history.back(-1)">返回</button>
							  </div>
							</fieldset>
						</form>
					
					</div>
				</div><!--/span-->
			
			</div><!--/row-->

	</div><!--/.fluid-container-->
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
		
	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Settings</h3>
		</div>
		<div class="modal-body">
			<p>Here settings can be configured...</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<a href="#" class="btn btn-primary">Save changes</a>
		</div>
	</div>
	
	<div class="clearfix"></div>
	
	<footer>

		<p>
			<span style="text-align:left;float:left">Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://www.freemoban.com/">www.freemoban.com</a></span>
			
		</p>

	</footer>

	<!-- start: JavaScript-->

	<script src="/manage/js/jquery-1.9.1.min.js"></script>
	<script src="/manage/js/jquery-migrate-1.0.0.min.js"></script>

	<script src="/manage/js/jquery-ui-1.10.0.custom.min.js"></script>

	<script src="/manage/js/jquery.ui.touch-punch.js"></script>

	<script src="/manage/js/modernizr.js"></script>

	<script src="/manage/js/bootstrap.min.js"></script>

	<script src="/manage/js/jquery.cookie.js"></script>

	<script src='/manage/js/fullcalendar.min.js'></script>

	<script src='/manage/js/jquery.dataTables.min.js'></script>

	<script src="/manage/js/excanvas.js"></script>
	<script src="/manage/js/jquery.flot.js"></script>
	<script src="/manage/js/jquery.flot.pie.js"></script>
	<script src="/manage/js/jquery.flot.stack.js"></script>
	<script src="/manage/js/jquery.flot.resize.min.js"></script>

	<script src="/manage/js/jquery.chosen.min.js"></script>

	<script src="/manage/js/jquery.uniform.min.js"></script>

	<script src="/manage/js/jquery.cleditor.min.js"></script>

	<script src="/manage/js/jquery.noty.js"></script>

	<script src="/manage/js/jquery.elfinder.min.js"></script>

	<script src="/manage/js/jquery.raty.min.js"></script>

	<script src="/manage/js/jquery.iphone.toggle.js"></script>

	<script src="/manage/js/jquery.uploadify-3.1.min.js"></script>

	<script src="/manage/js/jquery.gritter.min.js"></script>

	<script src="/manage/js/jquery.imagesloaded.js"></script>

	<script src="/manage/js/jquery.masonry.min.js"></script>

	<script src="/manage/js/jquery.knob.modified.js"></script>

	<script src="/manage/js/jquery.sparkline.min.js"></script>

	<script src="/manage/js/counter.js"></script>

	<script src="/manage/js/retina.js"></script>

	<script src="/manage/js/custom.js"></script>
	<!-- end: JavaScript-->
	
</body>
</html>
