<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

	<!-- start: Meta -->
	<meta charset="utf-8">
	<title></title>
	<meta name="description" content="Bootstrap Metro Dashboard">
	<meta name="author" content="">
	<meta name="keyword" content="">
	<!-- end: Meta -->

	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->

	<!-- start: CSS -->
	<link id="bootstrap-style" href="/manage/css/bootstrap.min.css" rel="stylesheet">
	<link href="/manage/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="/manage/css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="/manage/css/style-responsive.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
	<!-- end: CSS -->


	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<link id="ie-style" href="/manage/css/ie.css" rel="stylesheet">
	<![endif]-->

	<!--[if IE 9]>
	<link id="ie9style" href="/manage/css/ie9.css" rel="stylesheet">
	<![endif]-->

	<!-- start: Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- end: Favicon -->

	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>list</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/nprogress.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
	<link rel="apple-touch-icon-precomposed" href="/images/icon.png">
	<link rel="shortcut icon" href="/images/favicon.ico">
	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/js/nprogress.js"></script>
	<script src="/js/jquery.lazyload.min.js"></script>
	<!--[if gte IE 9]>
	<script src="/js/jquery-1.11.1.min.js" type="text/javascript"></script>
	<script src="/js/html5shiv.min.js" type="text/javascript"></script>
	<script src="/js/respond.min.js" type="text/javascript"></script>
	<script src="/js/selectivizr-min.js" type="text/javascript"></script>
	<![endif]-->
	<!--[if lt IE 9]>
	<script>window.location.href='upgrade-browser.html';</script>
	<![endif]-->
</head>
<body class="user-select">
<header class="header">
	<nav class="navbar navbar-default" id="navbar">
		<div class="container">
			<div class="header-topbar hidden-xs link-border">
				<!--根据登陆状态显示标签-->
				<ul class="site-nav topmenu" th:if="${session.user}==null">
					<li><a href="#" th:href="@{/admin}"> <img src="/images/icon/user.png" class="icon"> 去登陆</a></li>
				</ul>
				<ul class="site-nav topmenu" th:if="${session.user}!=null">
					<li th:text="'欢迎你！'+${session.user.nickname}"></li>
					<li th:if="${session.user.admin}"><a href="#" th:href="@{/admin/manage}"><img src="/images/icon/manage.png" class="icon">后台管理</a></li>
					<li><a href="#" th:href="@{/myBlogs}"><img src="/images/icon/blog.png" class="icon">我的博客</a></li>
					<li><a href="#" th:href="@{/admin/userinfo/{id}(id=${session.user.id})}"><img src="/images/icon/user.png" class="icon">个人信息
					</a></li>
					<li><a href="#" th:href="@{/admin/logout}"><img src="/images/icon/logout.png" class="icon">注销</a></li>
				</ul>
				分享 记录</div>
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar" aria-expanded="false"> <span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<h1 class="logo hvr-bounce-in"><a href="#" title=""><img src="/images/indexHead.jpg" alt=""></a></h1>
			</div>
			<div class="collapse navbar-collapse" id="header-navbar">
				<form class="navbar-form visible-xs" action="/Search" method="post">
					<div class="input-group">
						<input type="text" name="keyword" class="form-control" placeholder="请输入关键字" maxlength="20" autocomplete="off">
						<span class="input-group-btn">
		<button class="btn btn-default btn-search" name="search" type="submit">搜索</button>
		</span> </div>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><a data-cont="QX网络博客" title="QX网络博客" th:href="@{/}">首页</a></li>
					<li><a data-cont="列表页" title="列表页" th:href="@{/toList}">列表页</a></li>
					<li><a data-cont="详细页" title="详细页" th:href="@{/}">详细页</a></li>
					<!--					<li><a data-cont="404" title="404" href="../404.html">404</a></li>-->

					<li th:if="${session.user} ne null"><a data-cont="去创作" title="创作" th:href="@{admin/toAdd}">去创作</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<section class="container">
	<div class="content-wrap">
	<!--修改博客-->

		<!--修改博客信息-->
		<div class="row-fluid sortable">
			<div class="box span12">
				<div class="box-header1" data-original-title>
					<h5><i class="halflings-icon white edit"></i><span class="break"></span>修改博客信息</h5>
					<div class="box-icon">
						<a href="#" class="btn-minimize">一</a>
						<a href="#" class="btn-close">X</a>
					</div>
				</div>
				<div class="box-content">
					<form class="form-horizontal" action="#" th:object="${blog}" th:action="@{/admin/blog/save}" method="post">
						<fieldset>
							<input type="hidden" name="id" th:value="*{id}">
							<!--								<input type="hidden" name="createTime" th:value="*{createTime}">-->
							<!--标题-->
							<div class="control-group">
								<label class="control-label">标题</label>
								<div class="controls">
									<input class="input-xlarge focused" name="title" type="text" value="请输入…" th:value="*{title}">
								</div>
							</div>
							<!--分类-->
							<div class="control-group">
								<label class="control-label">分类</label>
								<div class="controls">
									<select data-rel="chosen" name="type.id" th:value="*{type}!=null ? *{type.id}">
										<option th:each="type : ${types}" th:data-value="${type.id}" data-value="1" th:text="${type.id}">Option 1</option>
									</select>
								</div>
							</div>
							<!--标签-->
							<div class="control-group">
								<label class="control-label">标签</label>
								<div class="controls">
									<select  multiple data-rel="chosen" name="tagIds" th:value="*{tagIds}">
										<option th:each="tag : ${tags}" th:data-value="${tag.id}" th:text="${tag.id}">Option 1</option>
									</select>
								</div>
							</div>
							<!--首图-->
							<div class="control-group">
								<label class="control-label">首图地址</label>
								<div class="controls">
									<input class="input-xlarge focused" name="firstImg" type="text" value="请输入…" th:value="*{firstImg}">
								</div>
							</div>
							<!--内容-->
							<div class="control-group hidden-phone">
								<label class="control-label" >博客内容</label>
								<div class="controls">
									<textarea class="cleditor"  name="content" style="height: 130px;width: 650px" th:utext="*{content}"></textarea>

								</div>
							</div>
							<!--能否评论和推荐-->
							<div class="control-group">
								<label class="control-label">转载推荐声明</label>
								<div class="controls">

									<label class="checkbox inline">
										<input type="checkbox" id="inlineCheckbox1" value="commentabled" th:value="*{commentabled}"> 转载
									</label>
									<label class="checkbox inline">
										<input type="checkbox" value="recommend" th:value="*{recommend}"> 原创
									</label>

								</div>
							</div>
							<div class="form-actions">
								<button type="submit" class="btn btn-primary">保存</button>&nbsp;&nbsp;&nbsp;&nbsp;
								<button class="btn">返回</button>
							</div>
						</fieldset>
					</form>

				</div>
			</div><!--/span-->

		</div><!--/row-->
		<!--添加博客结束-->
	</div>

	</aside>
</section>
<footer class="footer">
	<div class="container">
		<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://www.freemoban.com/">www.freemoban.com</a> </p>
	</div>
	<div id="gotop"><a class="gotop"></a></div>
</footer>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.ias.js"></script>
<script src="../static/js/scripts.js"></script>
</body>
</html>
